{% extends "base.html" %}
{% load comments %}

{% block title%} | Projetos | {{ project.code }}{% endblock %}

{% block header%}
    <h1>{{ project.name }}</h1>
{% endblock %}

{% block content %}

    <embed TYPE='application/x-mplayer2'
    pluginspage='html://www.microsoft.com/windows95/downloads/contents/wurecommended/s_wufeatured/mediaplayer/default.asp'
    SRC='http://iptv.usp.br/overmedia/Id.do?instance=0&id={{ project.video }}&type=video'
    ShowControls=1 ShowDisplay=0 ShowStatusBar=1 width=352 height=288
    LOOP='false'></embed> <br/>

    {% if user.is_authenticated %}
        {% render_comment_form for project %}

        {% get_comment_list for project as comment_list %}

        {% get_comment_form for project as form %}
        <form action="{% comment_form_target %}" method="POST">
          {{ form.user }}
          <tr>
            <td></td>
            <td><input type="submit" name="preview" class="submit-post" value="Preview"></td>
          </tr>
        </form>
    {% else %}
        {% render_comment_form for project %}
    {% endif %}
    <ul>
        {% for comment in comment_list %}
            <li> {{ comment.user_name }}</li>
            <li> {{ comment.comment }}</li>
        {% endfor %}
    </ul>

{% endblock %}
