{% extends "projects/base.html" %}

{% block header%}
    <h1>{{ title }}</h1> 
{% endblock %}

{% block toolbar %}
    {% if user.is_authenticated %}
        <div id="toolbar">
            {% if is_favorite %}
                <div id="contact_switch" class="toolbar_item">
                    {% if project.slug %}
                        <a href={% url projects_remove_favorite_slug project.slug %}>
                            <img src="{{ MEDIA_URL }}images/toolbar_remove.png" id="toolbar_add" alt="contact" /><br />
                            Remover
                        </a>
                    {% else %}
                        <a href={% url projects_remove_favorite project.edition project.category project.code %}>
                            <img src="{{ MEDIA_URL }}images/toolbar_remove.png" id="toolbar_add" alt="contact" /><br />
                            Remover
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <div id="contact_switch" class="toolbar_item">
                    {% if project.slug %}
                        <a href={% url projects_add_favorite_slug project.slug %}>
                            <img src="{{ MEDIA_URL }}images/toolbar_add.png" id="toolbar_add" alt="contact" /><br />
                            Adicionar
                        </a>
                    {% else %}
                        <a href={% url projects_add_favorite project.edition project.category project.code %}>
                            <img src="{{ MEDIA_URL }}images/toolbar_add.png" id="toolbar_add" alt="contact" /><br />
                            Adicionar
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="column" id="column1A">

        <div class="softcorners2" style="background:#f1f2e8;">
            <div class="sosoft" style="background: url('{{ MEDIA_URL }}images/rounder_right_superior.gif') no-repeat top right; height: 15px;">
                <div style="background: url('{{ MEDIA_URL }}images/rounder_left_superior.gif') no-repeat top left;  height: 15px;" ></div>
            </div>
        </div>
        <div class="portrait_area">
            <div class="portrait">
                {% if project.video %}
                    {% if project.is_local %}
                        <video src="{{ MEDIA_URL }}/video/{{ project.video }}"
                        controls="true" width="300" height="288"></video>
                    {% else %}
                        <embed TYPE='application/x-mplayer2'
                        pluginspage='html://www.microsoft.com/windows95/downloads/contents/wurecommended/s_wufeatured/mediaplayer/default.asp'
                        SRC='http://iptv.usp.br/overmedia/Id.do?instance=0&id={{ project.video }}&type=video'
                        ShowControls=1 ShowDisplay=0 ShowStatusBar=1 width=352 height=288 LOOP='false'>
                        </embed> <br/>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="softcorners2" style="background:#f1f2e8;">
            <div class="sosoft" style=" height: 15px;">
                <div style=" height: 15px;"></div>
            </div>
            <div class="insides">
                <div class="personal">
                    {% if project.slug %}
                        {% if is_owner %}
                            <a href={% url blog_add_post_slug project_slug=project.slug %}>Adicionar post no Diário de Bordo</a><br/>
                        {% endif %}
                    {% else %}
                        {% if is_owner %}
                            <a href={% url blog_add_post edition=project.edition category=project.category code=project.code %}>Adicionar post no Diário de Bordo</a><br/>
                            <a href={% url pl-add-photo edition=project.edition category=project.category code=project.code %}>Adicionar foto na Galeria</a><br/>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="sosoft" style="background: url('{{ MEDIA_URL }}images/rounder_right_inferior.gif') no-repeat bottom right; height: 15px;">
                <div style="background: url('{{ MEDIA_URL }}images/rounder_left_inferior.gif') no-repeat bottom left;  height: 15px;" ></div>
            </div>
        </div>
    </div>

	<div class="column" id="columnB">
        <div class="columnBhead">
            <h2>Dados do projeto</h2>
		    <div class="clear">&nbsp;</div>
            <h3>Autor{{ student_list|pluralize:"es" }}</h3>
                {% for student in student_list %}
                   {% if student.is_active %}
                       <a href={{ student.get_absolute_url }}>{{ student.name }}{% if not forloop.last %}, {% endif %}</a>
                   {% else %}
                       {{ student.name }}{% if not forloop.last %}, {% endif %}
                   {% endif %}
                {% endfor %}
                <br/>
                <h3>Orientador{{ advisor_list|pluralize:"es" }}</h3>
                {% for advisor in advisor_list %}
                   {% if advisor.is_active %}
                       <a href={{ advisor.get_absolute_url }}>{{ advisor.name }}{% if not forloop.last %}, {% endif %}</a>
                   {% else %}
                       {{ advisor.name }}{% if not forloop.last %}, {% endif %}
                   {% endif %}
                {% endfor %} 
                <br/>
                <h3>Instituição</h3>
		        <a href={{ project.institution.get_absolute_url }}>{{ project.institution }}</a>
                <br/>
                {% load tagging_tags %}
                {% tags_for_object project as tag_list %}
                {% if tag_list %}
                    <h3>Palavras-chave:</h3>
                    {% for tag in tag_list %}
                        <a href={{ tag.get_absolute_url }}>{{ tag }}{% if not forloop.last %}, {% endif %}</a>
                    {% endfor %}
                    <br />
                {% endif %}
                {% if prize_list %}
                    <h3>Prêmio{{ prize_list|pluralize:"s" }}</h3>
                    {% for prize in prize_list %}
                        <img src="{{ MEDIA_URL }}images/star.png" id="star" alt="estrela" /> {{ prize.name }}<br/>
                    {% endfor %} 
                {% endif %}
                <h3>Resumo</h3>
                  {{ project.abstract }}
                <br /><br />
                {% if project.slug %}
                    <a href={% url blog_index_slug project_slug=project.slug %}>Diário de Bordo</a><br/>
                {% else %}
                    {% if project.slug %}
                    <a href={% url blog_index_slug project_slug=project.slug %}>Diário de Bordo</a><br/>
                    <a href={% url pl-gallery slug=project.slug %}>Galeria de fotos</a><br/>
                    {% else %}
                    <a href={% url blog_index edition=project.edition category=project.category code=project.code %}>Diário de Bordo</a><br/>
                    <a href={% url pl-project-gallery edition=project.edition category=project.category code=project.code %}>Galeria de fotos</a><br/>
                    {% endif %}
                {% endif %}
                <br/>
		</div>
    </div>
{% endblock %}

{% block columnB %}
    <div class="column" id="columnB">
		<div class="columnBhead">
            <h2>Recados</h2>
			<div class="clear">&nbsp;</div>
		</div>
		<div class="subcolumns">
			<div class="subcolumn" id="columnBleft">
                {% load comments %}
                {% get_comment_form for project as form %}
                <form action="{% comment_form_target %}" method="POST">
                    {% if user.is_anonymous %}
                        <div class="field">
                            <label for="id_name"><h3>Nome</h3></label>
                            {{ form.name }} {{ form.name.errors }}
                        </div>
                        <div class="field">
                            <label for="id_email"><h3>E-mail</h3></label>
                            {{ form.email }} {{ form.email.errors }}
                        </div>
                        <div class="field">
                            <label for="id_url"><h3>URL</h3></label>
                            {{ form.url }} {{ form.url.errors }}
                        </div>
                    {% endif %}
                    <div class="field">
                        <label for="id_comment"><h3>Texto</h3></label>
                        {{ form.comment }} {{ form.comment.errors }}
                    </div>
                    <br>
                     <p style="display:none;">
                         <label for="id_honeypot">Se você escrever algo aqui, seu recado será tratado como spam</label>
                        {{ form.honeypot }}
                    </p>
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <input type="hidden" name="next" value="{{ project.get_absolute_url }}" />
                    <input type="submit" value="Enviar recado" id="id_submit" />
                </form>
                <br><br>
                <h3>Recados recebidos</h3>
                <br>
                {% get_comment_list for project as comment_list %}
                {% if comment_list %}
                    <ul>
                        {% for comment in comment_list reversed %}
                            <li>
                            {% if comment.user.get_profile %}
	                            <a href="{{ comment.user.get_profile.get_absolute_url }}" class="label">{{ comment.user.get_profile.name }}</a>
                            {% else %} 
                                {% if comment.url %}
                                     <a href="{{ comment.url }}" class="label">{{ comment.user_name }}</a>
                                {% else %}
                                     {{ comment.user_name }}
                                {% endif %}
                            {% endif %}
                            </li>
                            <li> {{ comment.submit_date|date:"d/m/Y H:i" }}</li>
                            <li> {{ comment.comment }}</li>
                            <br>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Não há recados recebidos.</p>
                {% endif %}
			    <div class="clear">&nbsp;</div>
	        </div>
        </div>
    </div>
{% endblock %}
