{% extends "base.html" %}

{% block title%} | Contatos {% endblock %}

{% block content %}
    <h1>Contatos </h1>
    <br>
    {% if friend_list %}
        <ul>
        {% for friend in friend_list %}
            {% if friend.get_profile %}
                <li><a href={{ friend.get_profile.get_absolute_url }}>{{ friend.username }}</a></li>
            {% else %}
                <li>{{ friend.username }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}  
        <p>Não há contatos cadastrados.</p>
    {% endif %}

{% endblock %}
