# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]

#temporários de editores de texto
*~
*.swp
#temporários do latex
*.d
*.aux
*.log
*.toc
*.dvi
*.ps
*.ldg
*.lof
*.lot
#temporários do bibtex
*.blg
*.bbl
#binários do python
*.pyc
*.db
#apps externas
#registration/*
#profiles/*
