{% extends "base.html" %}

{% block head %}
{% if user.is_authenticated %}
    {% if user.get_profile %}
        <meta http-equiv="REFRESH" content="0;url={{ user.get_profile.get_absolute_url }}">
    {% else %}
        <meta http-equiv="REFRESH" content="0;url=/profiles/create/">
    {% endif %}
{% endif %}
{% endblock %}

{% block title %} | Login{% endblock %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p style="color: red;">
            Por favor, corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
        </p>
        <br>
    {% endif %}

    <form action="" method="post">
        <div class="field">
            <label for="id_username"><h2>Usuário</h2></label>
            {{ form.username }} {{ form.username.errors }}
        </div>
        <br>
        <div class="field">
            <label for="id_password"><h2>Senha</h2></label>
            {{ form.password }} {{ form.password.errors }}
        </div>
        <br><br>
        <input type="submit" value="Enviar">
        <input type="hidden" name="next" value="/accounts/login/" />

    </form>
{% endblock %}
