{% extends "base.html" %}

{% block title%} | Login{% endblock %}

{% block header%}
    <h1>Login</h1>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p style="color: red;">
            Por favor, corrija o erro {{ form.error|pluralize }} abaixo.
        </p>
    {% endif %}

    <form action="" method="post">
        <div class="field">
            {{ form.username.errors }}
            <label for="id_username">Usuário:</label>
            {{ form.username }}
        </div>
        <div class="field">
            {{ form.password.errors }}
            <label for="id_password">Senha:</label>
            {{ form.password }}
        </div>
        <input type="submit" value="Enviar">
        <input type="hidden" name="next" value="/profiles/" />

    </form>
{% endblock %}
