{% extends "base.html" %}

{% block head %}
{% if user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={{ user.get_profile.get_absolute_url }}">
{% endif %}
{% endblock %}

{% block title%} | Cadastro {% endblock %}

{% block header %}
    <h1>Cadastro</h1>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p style="color: red;">
            Por favor, corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
        </p>
        <br>
    {% endif %}

    <form action="" method="post">
        <div class="field">
            <label for="id_user"><h2>Usuário</h2></label>
            {{ form.username }} {{ form.username.errors }}
        </div>
        <br>
        <div class="field">
            <label for="id_email"><h2>E-mail</h2></label>
            {{ form.email }} {{ form.email.errors }}
        </div>
        <br>
        <div class="field">
            <label for="id_password1"><h2>Senha</h2></label>
            {{ form.password1 }} {{ form.password1.errors }}
        </div>
        <br>
        <div class="field">
            <label for="id_password2"><h2>Confirme a Senha</h2></label>
            {{ form.password2 }} {{ form.password2.errors }}
        </div>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}

