{% extends "messages/base.html" %} 
{% load i18n %} 
{% block content %} 
<h1>{% trans "Deleted Messages" %}</h1>
<br>
    {% if message_list %}
    <table class="messages">
        <thead>
            <tr>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Action" %}</th></tr>
        </thead>
        <tbody>
    {% for message in message_list %} 
        <tr>
            {% if message.sender.get_profile %}
                <td><a href={{ message.sender.get_profile.get_absolute_url }}>{{ message.sender.get_profile.name }}</a></td>
            {% else %}
                <td>{{ message.sender }}</td>
            {% endif %}
            <td> 
            {{ message.subject }}
            </td>
            <td>{{ message.sent_at|date:"d/m/Y H:m" }}</td>
            <td><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}  
        <p>Não há mensagens na sua caixa de mensagens excluídas.</p>
    {% endif %}
<br />
<p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
{% endblock %}
