{% extends "messages/base.html" %} 
{% load i18n %} 
{% block content %}
<h1>{% trans "View Message" %}</h1>
<br>
    <div class="field">
        <label for="id_subject"><h2>Remetente</h2></label>
        {% if message.sender.get_profile %}
            <a href={{ message.sender.get_profile.get_absolute_url }}>{{ message.sender.get_profile.name }}</a>
        {% else %}
            {{ message.sender }}
        {% endif %}
    </div>
    <br>
    <div class="field">
        <label for="id_subject"><h2>Data</h2></label>
        {{ message.sent_at|date:"d/m/Y H:i" }}
    </div>
    <br>
    <div class="field">
        <label for="id_subject"><h2>Assunto</h2></label>
        {{ message.subject }}
    </div>
    <br>
    <div class="field">
        <label for="id_subject"><h2>Mensagem</h2></label>
        {{ message.body|linebreaksbr }}
    </div>
    <br>

{% ifequal message.recipient user %}
    <input type="button" onClick="parent.location='{% url messages_reply message.id %}'" value="{% trans "Reply" %}">
{% endifequal %}
    <input type="button" onClick="parent.location='{% url messages_delete message.id %}'" value="{% trans "Delete" %}">
{% endblock %}
