{% extends "base.html" %}

{% block title%} | Instituições {% endblock %}

{% block header%}
    <h1>{{ object.name }}</h1>
{% endblock %}

{% block content %}

    <div id="institution">
        <br/>
        <h3>Endereço</h3> 
        {{ object.address }} <br/><br/>
        <h3>Cidade</h3> 
        {{ object.city }} <br/><br/>
        <h3>Estado</h3> 
        {{ object.state }} <br/><br/> 
        <h3>Website</h3> 
        <a href='{{ object.website }}'>{{ object.website }} </a><br/>
    </div>

{% endblock %}
