{% extends "blog/base_blog.html" %}


{% block title %}{{ object.title }}{% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}


{% block content_title %}

{% endblock %}


{% block content %}
  {% load blog markup comments tagging_tags %}
    <h1>Diário de Bordo do projeto {{project.name}}</h1>
    <br>
    <h2>{{ object.title }}</h2>
    <p class="date">{{ object.publish|date:"d/m/Y H:i" }}</p>
    <br>
    <div class="body">
        {{ object.body|markdown:"safe" }}
    </div>
    <br>
    {% tags_for_object object as tag_list %}
    {% if tag_list %}
        <p class="inline_tag_list"><strong>Tags:</strong>
        {% for tag in tag_list %}
            <a href={{ tag.get_absolute_url }}>{{ tag }}{% if not forloop.last %}, {% endif %}</a>
        {% endfor %}
        </p>
    {% endif %}
    <br>
    {% if object.author.get_profile %}
        <p class="author">
            <strong>Autor:</strong> 
            <a href={{ object.author.get_profile.get_absolute_url }}>{{ object.author.get_profile.name }}</a>
        </p>
        <br>
    {% else %}
        <p class="author"><strong>Autor:</strong> {{ object.author }}</p>
        <br>
    {% endif %}
    <br>
    <p class="other_posts">
    {% if object.get_previous_by_publish %}
        <input type="button" onClick="parent.location='{{ object.get_previous_post.get_absolute_url }}'" value="&laquo; {{ object.get_previous_post }}">
    {% endif %}
    {% if object.get_next_by_publish %}
        <input type="button" onClick="parent.location='{{ object.get_next_post.get_absolute_url }}'" value="{{ object.get_next_post }} &raquo;">
    {% endif %}  
    {% if is_owner %}
        <br/>
        {% if project.slug %}
            <input type="button" onClick="parent.location='{% url blog_edit_post_slug project_slug=project.slug year=object.publish.year month=month day=object.publish.day slug=object.slug %}'" value="Editar post">
        {% else %}
            <input type="button" onClick="parent.location='{% url blog_edit_post edition=project.edition category=project.category code=project.code year=object.publish.year month=month day=object.publish.day slug=object.slug %}'" value="Editar post">
        {% endif %}
    {% endif %}
    </p>
    <br><br>
    {% get_comment_list for object as comment_list %}
    <div id="comments">
    {% if object.allow_comments %}
    <h3>Deixe seu comentário</h3>
    <br>
    {% get_comment_form for object as form %}
        <form action="{% comment_form_target %}" method="POST">
        {% if user.is_anonymous %}
            <div class="field">
                <label for="id_name"><h3>Nome</h3></label>
                {{ form.name }} {{ form.name.errors }}
            </div>
            <div class="field">
                <label for="id_email"><h3>E-mail</h3></label>
                {{ form.email }} {{ form.email.errors }}
            </div>
            <div class="field">
                <label for="id_url"><h3>URL</h3></label>
                {{ form.url }} {{ form.url.errors }}
            </div>
        {% endif %}
        <div class="field">
            <label for="id_comment"><h3>Texto</h3></label>
            {{ form.comment }} {{ form.comment.errors }}
        </div>
        <br>
         <p style="display:none;">
             <label for="id_honeypot">Se você escrever algo aqui, seu recado será tratado como spam</label>
            {{ form.honeypot }}
        </p>
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{{ post_url }}" />
        <input type="submit" value="Enviar comentário" id="id_submit" />
    </form>
    {% else %}
    <div id="comment_form">
        <h3>Caixa de comentários fechada.</h3>
        <p>Esse post não permite comentários.</p>
    </div>
    {% endif %}
    <br />
    {% load comments %}
        <h2>Comentários</h2>
        <br>
        {% if comment_list %}
            <ul>
                {% for comment in comment_list reversed %}
                    <li>
                    {% if comment.user.get_profile %}
                        <a href="{{ comment.user.get_profile.get_absolute_url }}" class="label">{{ comment.user.get_profile.name }}</a>
                    {% else %} 
                        {% if comment.url %}
                        <a href={{ comment.url }} class="label">{{ comment.user_name }}</a>
                        {% else %}
                        {{ comment.user_name }}
                        {% endif %}
                    {% endif %}
                    </li>
                    <li> {{ comment.submit_date|date:"d/m/Y H:i" }}</li>
                    <li> {{ comment.comment }}</li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há comentários.</p>
        {% endif %}
    </div>
{% endblock %}
