{% extends "blog/base_blog.html" %}


{% block title %} | Diário de bordo{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}

{% block head%}
    <link rel="alternate" type="application/rss+xml" title="Diário de bordo - RSS" href={% url blog_feed url=feed_url %} />
{% endblock %}

{% block content_title %}
<h1>Diário de Bordo do projeto {{project.name}}</h1>
{% endblock %}


{% block content %}
    <h1>Diário de Bordo do projeto {{project.name}}</h1>
    <br>
    {% if object_list %}
        <div class="post_list">
        {% for post in object_list %}
        <div>
          <h3 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
          <p class="date">{{ post.publish|date:"d/m/Y H:i" }}</p>
          <p class="tease">{{ post.tease }}</p>
        </div>
        <br>
        {% endfor %}
        </div>
    {% else %}
        Não há posts.
    {% endif %}
  
    {% if is_paginated %}
    <p class="pagination">
        {% if has_next %}
            <a class="older" href="?page={{ next }}">Postagens mais antigas</a>
        {% endif %}
        {% if has_next and has_previous %} | {% endif %}
        {% if has_previous %}
            <a class="newer" href="?page={{ previous }}">Postagens mais recentes</a>
        {% endif %}
    </p>
    {% endif %}
{% endblock %}
