<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    	<title>Feira Brasileira Virtual de Ciências e Engenharia {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="PT-BR">
        <meta http-equiv="imagetoolbar" content="no">
        <meta name="keywords" content="video sharing, videos, share, camera, videoblog, vidblogs, movies, science, community, videoblogging, science fair, engineering, feira de ciências, ciência, engenharia, blog">
        <meta name="abstract" content="Share your video clips.">
        <meta name="author" content="Leandro Biazon e Nathalia Patrício">
        <meta name="distribution" content="Global">
        <meta name="developers" content="Leandro Biazon e Nathalia Patrício">
        <meta name="revisit-after" content="1 days">
        <meta name="robots" content="follow,index">
        <meta name="warning" content="HC SVNT DRACONES">
		<meta name="description" content="FebraceV é uma feira virtual de ciências e engenharia.">

        <script type="text/javascript" src="{{ MEDIA_URL }}js/search.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/main.css">
        <!--[if IE]>
	        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie.css?25243" />
        <![endif]-->
        <!--[if IE 7]>
	        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie7.css?25243" />
        <![endif]-->
        {% block head %}{% endblock %}
    </head>

    <body>
	<div id="outer_wrap">
	    <div id="inner_wrap">
		    <div id="everything">
			    <div id="top">
				    <div id="logo">
                        <a href="/"><img src="{{ MEDIA_URL }}images/logo.png" alt="Febracev" class="transifyme" /></a>
                    </div>
                    {% if user.is_authenticated %}
				        <div id="newmenudo">
	                        <ul id="nav" class="grandpappy">
		                        <img src="{{ MEDIA_URL }}images/menudo_capright.png" class="transifyme" id="capright" alt="">
		                        <li class="firstborn search" id="menudo_search_subtier">
			                        <div class="rounded_input">
				                        <div class="contain">
					                        <form onsubmit="menudo_search(); return false;" name="search">
					                            <input id="menudo_search_field" type="text" onblur="menudo_search_blur()" onclick="menudo_search_click()" value="Busca" class="field" />
					                            <input type="submit" value="" onclick="menudo_search(); return false;" class="button" />
					                        </form>
				                        </div>
			                        </div>
		                        </li>
		                        <li class="firstborn explore">
			                        <a class="label" href="/accounts/logout/">Logout</a>
		                        </li>
                                {% if user.is_staff %}
		                            <li class="firstborn explore">
			                            <a class="label" href="/admin">Admin</a>
		                            </li>
                                {% endif %}	
		                        <li class="firstborn explore">
			                        <a class="label" href="">Colunas</a>
		                        </li>
		                        <li class="firstborn explore" id="menudo_explore">
			                        <a href="/projects" class="label">Projetos</a>
		                        </li>
		                        <li class="firstborn profile">
			                        <a href="{{ user.get_profile.get_absolute_url }}" class="label">Perfil</a>
		                        </li>
	                        </ul>
                            <img id="capleft" alt="" src="{{ MEDIA_URL }}images/menudo_capleft.png"/>
	                    </div>
                    {% else %}
				        <div id="newmenudo">
	                        <ul id="nav" class="grandpappy">
		                        <img src="{{ MEDIA_URL }}images/menudo_capright.png" class="transifyme" id="capright" alt="">
		                        <li class="firstborn search" id="menudo_search_subtier">
			                        <div class="rounded_input">
				                        <div class="contain">
					                        <form onsubmit="menudo_search(); return false;" name="search">
					                            <input id="menudo_search_field" type="text" onblur="menudo_search_blur()" onclick="menudo_search_click()" value="Busca" class="field" />
					                            <input type="submit" value="" onclick="menudo_search(); return false;" class="button" />
					                        </form>
				                        </div>
		                            </div>
		                        </li>
		                        <li class="firstborn explore">
			                        <a class="label" href="">Colunas</a>
		                        </li>
		                        <li class="firstborn explore" id="menudo_explore">
			                        <a href="/projects/" class="label">Projetos</a>
		                        </li>
		                        <li class="firstborn login">
		                            <a class="label" href="/accounts/login/" rel="nofollow">Login</a>
		                        </li>
		                        <li class="firstborn join">
			                        <img src="{{ MEDIA_URL }}images/newmenudo_join.gif" class="joinimage" alt="" onclick="window.location = '/accounts/register';" />
		                        </li>
	                        </ul>
	                    </div>		
                    {% endif %}	
                    {% block toolbar %}{% endblock %}
                </div>
			    <div id="cap">
				    <img src="{{ MEDIA_URL }}images/top_cap.png" alt="" class="transifyme" />
			    </div>

			    <div id="main">
				    <div id="header">
                        {% block header %}{% endblock %}
				    </div>
                    <div class="columns">
                        <div id="columnA" class="column">
                            <div id="content">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                        <div id="columnB" class="column">
                            {% block columnB %}
                            {% endblock %}
                        </div>
                        <div class="clear"/>
                    </div>
                    <div id="related_feeds_wrapper">
                        <div id="related_feeds">
                        </div>
                    </div>
                    <div id="bottom">
                        <ul>
                            <li>
                            <a href="/about/">Sobre</a>
                            /
                            <a target="_blank" href="http://febracev.wordpress.com">Blog</a>
                            /
                            <a target="_blank" href="http://github.com/nathaliaspatricio/febracev">Código fonte</a>
                            /
                            <a href="http://www.lsi.usp.br/febrace">FEBRACE</a>
                            /
                            <a href="/sitemap/">Mapa do Site</a>
                            /
                            <a href="/help/">Ajuda</a>
                            /
                            <a href="/terms/">Termos de Uso</a>
                            /
                            <a rel="nofollow" href="/privacy/">Política de Privacidade</a>
                            </div>
                            <div class="clear"/>
                            </li>
                        </ul>
                    </div>
			    </div>
		    </div>
	    </div>
    </div>
    </body>
</html>
