<html>
<head>
    <title>Criar Perfil</title>
</head>
<body>
    <h1>Criar Perfil</h1>

    {% if user_form.errors %}
        <p style="color: red;">
            Please correct the error{{ user_form.errors|pluralize }} below.
        </p>
    {% endif %}

    {% if profile_form.errors %}
        <p style="color: red;">
            Please correct the error{{ profile_form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ user_form.as_table }}
            {{ profile_form.as_table }}
        </table>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>

