{% extends "base.html" %}

{% block title%} | Editar Perfil{% endblock %}

{% block content %}
    <h1>Editar Perfil</h1>

    {% if user_form.errors %}
        <p style="color: red;">
            Please correct the error{{ user_form.errors|pluralize }} below.
        </p>
    {% endif %}

    {% if profile_form.errors %}
        <p style="color: red;">
            Please correct the error{{ profile_form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="">
        <table>
            {{ user_form.as_table }}
            {{ profile_form.as_table }}
        </table>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}

