{% extends "base.html" %}

{% block title%} | Perfil{% endblock %}

{% block header%}
    <h1>{{ profile.name }}</h1>
{% endblock %}

{% block toolbar %}
    {% if user.is_authenticated %}
        {% ifnotequal user profile.user %}
            <div id="toolbar">
                {% if is_friend %}
                    <div id="contact_switch" class="toolbar_item">
                        <a href={% url friends_remove_friend profile.user.username %}>
                            <img src="{{ MEDIA_URL }}images/toolbar_remove.png" id="toolbar_add" alt="contact" /><br />
                            Remover
                        </a>
                    </div>
                {% else %}
                    <div id="contact_switch" class="toolbar_item">
                        <a href={% url friends_add_friend profile.user.username %}>
                            <img src="{{ MEDIA_URL }}images/toolbar_add.png" id="toolbar_add" alt="contact" /><br />
                            Adicionar
                        </a>
                    </div>
                {% endif %}
                {% if is_mutual %}
                    <div id="contact_switch" class="toolbar_item">
                        <a href={% url messages_compose_to profile.user.username %}>
                            <img src="{{ MEDIA_URL }}images/toolbar_envelope.png" id="toolbar_add" alt="contact" /><br />
                            Mensagem
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endifnotequal %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="column" id="column1A">

        <div class="softcorners2" style="background:#f1f2e8;">
            <div class="sosoft" style="background: url('{{ MEDIA_URL }}images/rounder_right_superior.gif') no-repeat top right; height: 15px;">
                <div style="background: url('{{ MEDIA_URL }}images/rounder_left_superior.gif') no-repeat top left;  height: 15px;" ></div>
            </div>
        </div>
        <div class="portrait_area">
            <div class="portrait">
                {% if profile.mugshot %}
                    <img id="big_portrait" class="photo portrait" src="{{ profile.mugshot.url }}" alt="{{ profile.name }}" />
                    <div id="formyportrait" style="display:none;width:300px;height:300px;">
                    </div>
                {% else %}
                    <img id="big_portrait" class="photo portrait" src="{{ MEDIA_URL }}images/sem_foto.png" alt="{{ profile.name }}s" />
                    <div id="formyportrait" style="display:none;width:300px;height:300px;">
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="softcorners2" style="background:#f1f2e8;">
            <div class="sosoft" style=" height: 15px;">
                <div style=" height: 15px;"></div>
            </div>
            <div class="insides">
                <div class="personal">
                    {% if user.is_authenticated %}
                        {% ifequal user profile.user %}
                            <div class="where">
                                <span class="locality"></span><br />
                                <span class="url"><a href={% url profiles_delete_profile %}>Apagar Perfil</a></span><br/>
                                <span class="url"><a href={% url profiles_edit_profile %}>Editar Perfil</a></span><br/>
                                <span class="url"><a href={% url messages_inbox %}>Mensagens Recebidas</a></span><br/>
                                <span class="url"><a href={% url messages_outbox %}>Mensagens Enviadas</a></span><br/>
                                <span class="url"><a href={% url messages_trash %}>Mensagens Apagadas</a></span><br/>
                            </div>
                        {% endifequal %}
                    {% endif %}
                    <div id="bio">
                        <br/>
                        Cidade: {{ profile.city }} <br/>
                        Estado: {{ profile.state }} <br/>
                        Data de Nascimento: {{ profile.birthdate|date:"d/m/Y" }} <br/>
                        Sexo: {{ profile.gender }} <br/>
                        Instituição: <a href="/institutions/{{ profile.institution.id }}">{{ profile.institution }}</a><br/>
                    </div>
                </div>
            </div>
            <div class="sosoft" style="background: url('{{ MEDIA_URL }}images/rounder_right_inferior.gif') no-repeat bottom right; height: 15px;">
                <div style="background: url('{{ MEDIA_URL }}images/rounder_left_inferior.gif') no-repeat bottom left;  height: 15px;" ></div>
            </div>
        </div>
    </div>

	<div class="column" id="columnB">
		<div class="columnBhead">
            <h2>Contatos</h2>
			<div class="clear">&nbsp;</div>
		</div>
		<div class="subcolumns">
			<div class="subcolumn" id="columnBleft">
                <h3>Usuários que sigo</h3>
                {% if following_list %}
                    <ul>
                    {% for following in following_list %}
                        <li><a href={{ following.get_profile.get_absolute_url }}>{{ following.username }}</a></li>
                    {% endfor %}
                    </ul>
                    <br>
                    <a href={% url friends_following username=profile.user.username %}>mais...</a>
                {% else %}
                    <p>Não há usuários que sigo.</p>
                {% endif %}
                <div class="clear">&nbsp;</div>
            </div>
			<div class="subcolumn" id="columnBright">
                <h3>Usuários que me seguem</h3>
                {% if follower_list %}
                    <ul>
                    {% for follower in follower_list %}
                        <li><a href={{ follower.get_profile.get_absolute_url }}>{{ follower.username }}</a></li>
                    {% endfor %}
                    </ul>
                    <br>
                    <a href={% url friends_followers username=profile.user.username %}>mais...</a>
                {% else %}  
                    <p>Não há usuários que me seguem.</p>
                {% endif %}
                <div class="clear">&nbsp;</div>
			</div>
			<div class="subcolumn" id="columnBright">
                <h3>Amigos</h3>
                {% if mutual_list %}
                    <ul>
                    {% for mutual in mutual_list %}
                        <li><a href={{ mutual.get_profile.get_absolute_url }}>{{ mutual.username }}</a></li>
                    {% endfor %}
                    </ul>
                    <br>
                    <a href={% url friends_mutual username=profile.user.username %}>mais...</a>
                {% else %}
                    <p>Não há amigos.</p>
                {% endif %}
                <div class="clear">&nbsp;</div>
			</div>
            
		</div>
		<div class="clear"></div>
        <br>
        <div class="columnBhead">
            <h2>Projetos Favoritos</h2>
			<div class="clear">&nbsp;</div>
		</div>
		<div class="subcolumns">
			<div class="subcolumn" id="columnBleft">
                {% if favorite_projects %}
                    <ul>
                    {% for project in favorite_projects %}
                        <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
                    {% endfor %}
                    </ul>
                    <br>
                    <a href={% url projects_favorite_projects username=profile.user.username %}>mais...</a>
                {% else %}
                    <p>Não há projetos favoritos.</p>
                {% endif %}
                <div class="clear">&nbsp;</div>
            </div>            
		</div>
	</div>

{% endblock %}

{% block columnB %}
    <div class="column" id="columnB">
		<div class="columnBhead">
            <h2>Recados</h2>
			<div class="clear">&nbsp;</div>
		</div>
		<div class="subcolumns">
			<div class="subcolumn" id="columnBleft">
                {% load comments %}
                {% get_comment_form for profile as form %}
                <form action="{% comment_form_target %}" method="POST">
                    {% if user.is_anonymous %}
                        <div class="field">
                            <label for="id_name"><h3>Nome</h3></label>
                            {{ form.name }} {{ form.name.errors }}
                        </div>
                        <br>
                        <div class="field">
                            <label for="id_email"><h3>E-mail</h3></label>
                            {{ form.email }} {{ form.email.errors }}
                        </div>
                        <br>
                    {% endif %}
                    <div class="field">
                        <label for="id_comment"><h3>Texto</h3></label>
                        {{ form.comment }} {{ form.comment.errors }}
                    </div>
                    <br>
                     <p style="display:none;">
                         <label for="id_honeypot">Se você escrever algo aqui, seu recado será tratado como spam</label>
                        {{ form.honeypot }}
                    </p>
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <input type="hidden" name="next" value="{{ profile.get_absolute_url }}" />
                    <input type="submit" value="Enviar recado" id="id_submit" />
                </form>
                <br><br>
                <h3>Recados recebidos</h3>
                <br>
                {% get_comment_list for profile as comment_list %}
                {% if comment_list %}
                    <ul>
                        {% for comment in comment_list %}
                            <li>
                            {% if comment.user.get_profile %}
	                            <a href="{{ comment.user.get_profile.get_absolute_url }}" class="label">{{ comment.user.get_profile.name }}</a>
                            {% else %} 
                                <a href="mailto:{{ comment.email }}" class="label">{{ comment.user_name }}</a>
                            {% endif %}
                            </li>
                            <li> {{ comment.submit_date|date:"d/m/Y H:m" }}</li>
                            <li> {{ comment.comment }}</li>
                            <br>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Não há recados recebidos.</p>
                {% endif %}
			    <div class="clear">&nbsp;</div>
	        </div>
        </div>
    </div>
{% endblock %}
