{% extends "photologue/root.html" %}

{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
{% for tag in tag_list %}
    {% if forloop.last %}
        <a href={{ tag.get_absolute_url }}>{{ tag.name }}</a>
    {% else %}
        <a href={{ tag.get_absolute_url }}>{{ tag.name }}, </a>
    {% endif %}
{% endfor %}
<br /><br />
<div class="gallery-photo">
    <a href="{{ object.image.url }}"><img src="{{ object.image.url }}" alt="{{ object.title }}" width="500"/></a>
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
</div>
<br>
{% if is_owner %}
    <input type="button" onClick="parent.location='{% url pl-edit-photo slug=object.title_slug %}'" value="Editar foto">
{% endif %}
<br><br>
{% if object.public_galleries %}
    <ol>
    {% for gallery in object.public_galleries %}
        <li><a href={{ gallery.get_absolute_url }}>Voltar para a galeria</a></li>
        <li>{% previous_in_gallery object gallery %} {% next_in_gallery object gallery %}</li>
    {% endfor %}
    </ol>
{% endif %}

{% endblock %}
